#screen{
    background-color:var(--highlight-color);
    position: fixed;
    z-index: 100;
    top: -280px;
    left: 0;
    width: 100vw;
    height: 10vh;
    transform: skewY(-10deg);
    transition: all 0.45s;
    animation-timing-function: lineal;
    animation-duration: 2s;
}

#details-container{
    background-color: var(--background-color);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: auto;
    display: none;
}

#details-container .nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.item-hide{
    display: none;
}

#details-container .items{
    width: 60%;
    margin: 0 auto;
}

#details-container .items .item .main-image img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#details-container .items .item .main-image iframe{
    width: 100%;
    height: 500px;
}

#details-container .items .item .title{
    text-align: center;
}

#details-container .items .item .description {
    text-align: center;
}